*, h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background: #F5F7FB;
  color: #293264;
  background: #4D5B9E;
}

button {
  font-family: 'Karla', sans-serif;
  background: #4D5B9E;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  color: #F5F7FB;
}

select {
  font-family: 'Karla', sans-serif;
  margin: 2em 0;
  padding: .75em;
  border-radius: 5px;
  border: 1px solid #4D5B9E;
  color: #293264;
  font-weight: 700;
}

form {
  display: flex; 
  flex-direction: column;
  padding: 1em 0;
}

button:hover,
button:focus {
  border: 2px solid #4D5B9E;
  background: #F5F7FB;
  color: #4D5B9E;
}

.intro,
.quiz {
  min-height: 100vh;
  width: 80%;
  max-width: 550px;
  min-width: 300px;
  margin: 0 auto;
  background: #FFF;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro--header {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: .22em;
}

.intro--description {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  line-height: 1.1875em;
  margin-bottom: 1.875em;
}

.intro--btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 1em 1.75em;
  border-radius: 1em;
}

.intro--btn:hover,
.intro--btn:focus {
  font-weight: 600;
  padding: calc(1em - 2px) calc(1.75em - 2px);
}

.quiz {
  padding: 40px 30px 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.question--question {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 0.75em;
}

.question--answers {
  display: flex;
  flex-flow: wrap;
  gap: 13px;
}

.question--answer {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  min-width: 70px;
  border: .8px solid #4D5B9E;
  border-radius: 8px;
  padding: 6.25px 10px 4px;
  cursor: pointer;
}

.selected {
  background: #D6DBF5;
  border: none;
  font-weight: 700;
}

.correct {
  border: none;
  background: #94D7A2;
  cursor: default;
}

.incorrect {
  background: #F8BCBC;
  color: #4D5B9E;
  border: none;
  cursor: default;
}

.off {
  opacity: 0.5;
  cursor: default;
}

.dark {
  background-color: darkred;
}

.dark:hover,
.darl:focus {
  color: darkred;
  border-color: darkred;
}

.quiz--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quiz--score{
  font-size: 0.8125rem;
  font-weight: 700;
}

.quiz--btn {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 1em 2em;
  border-radius: 1em;
  margin-top: 5px;
  align-self: center;
}

.quiz--btn:hover,
.quiz--btn:focus {
  padding: calc(1em - 2px) calc(2em - 2px);
}